
body {
  margin: 0;
  padding: 0;
  background: #eae1f5; /* Fondo púrpura */
  font-family: sans-serif;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.page-title {
  margin-bottom: 10px;
  
}


.phone {
  width: 400px;
  height: 700px;
  background: #ffffff; /* Pantalla negra */
  border: 16px solid #949494;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 0 30px rgba(114, 114, 114, 0.7);
  overflow: hidden;
  margin-bottom: 20px;
}

/* Área interna del teléfono donde se mostrará la ropa */
.pasarela {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Clase para la imagen de ropa */
.clothing {
  width: 250px;
  height: auto;
  animation: desfile 2s ease-in-out infinite alternate; 
}

/* Animación para mover la prenda de un lado a otro */
@keyframes desfile {
  0% { transform: translateX(-20px); } 
  100% { transform: translateX(20px); } 
}